@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';
/*
.fi-sidebar{
    background-color: #3498db !important;
}

 */
.fi-sidebar-item-label{
    color: #3498db !important;
}
.fi-sidebar-item-label:hover{
    color: #3498db !important;
}
.fi-sidebar-group-label{
    color: #3498db !important;
}
.fi-active > .fi-sidebar-item-button > .fi-sidebar-item-label, .fi-sidebar-item-button:hover > .fi-sidebar-item-label{
    color: #3498db !important;
}


.fi-sidebar-item-icon, .fi-sidebar-group-icon{
    color: #3498db !important;
}

.fi-sidebar-group{
    background-color: white;
    box-shadow: 3px 3px 2px #aaa;
    border: 2px solid #3498db;
    border-radius: 7px;
    @apply py-1
}
